.details {
   flex: 0.8;
   margin-top: 130px;

   .user {
      padding: 30px 10px;
      display: flex;
      flex-direction: column;
      align-items: center;
      gap: 10px;
      border-bottom: 1px solid rgb(85, 84, 84);

      img {
         width: 200px;
         height: 200px;
         object-fit: cover;
         border-radius: 50%;
         margin-bottom: 50px;
      }
      h2 {
         font-size: 40px;
      }
   }
   .info {
      padding: 20px;
      display: flex;
      flex-direction: column;
      gap: 30px;
      margin-top: 20px;
   }
      button {
         padding: 10px 20px;
         background-color: rgba(10, 10, 10, 0.35);
         color: rgb(255, 255, 255); 
         border: none;
         border-radius: 5px;
         cursor: pointer;
         height: 50px;
         font-size: 15px;
         
         &:hover {
            background-color: rgba(255, 0, 51, 0.553);;
         }
      }
      
   } 
