.chatList {
    flex: 0.5;
    overflow: scroll;
    width: 81.5%;

    .search {
        display: flex;
        align-items: center;
        gap: 20px;
        padding: 20px;
        border-bottom: 1px solid rgb(85, 84, 84);
        margin-bottom: 15px;
    }


    .searchBar {
        flex: 0.5;
        background: rgba(10, 10, 10, 0.35);
        display:flex;
        align-items:center;
        gap: 2px;
        border-radius: 10px;
        width: 90%;
        height: 55px;
        padding-left: 10px;
        

        img {
            width: 20px;
            height: 20px;
            
        }
    }

    input {
        background-color: transparent;
        border: none;
        outline: none;
        color: white;   
    }

    .add {
        width: 26px;
        height: 26px;
        cursor: pointer;
    }

    .item {
        display: flex;
        align-items: center;
        gap: 20px;
        padding: 20px;
        cursor:pointer;
        border-radius: 10px;
        margin-right: 17px;
        margin-left: 17px;
        margin-bottom: 10px;
        height: 100px;
        width: 92%;

        img {
            width: 50px;
            height: 50px;
            border-radius: 50%;
            object-fit: cover;
        }

        .texts {
            display: flex;
            flex-direction: column;
            gap: 10px;
        }

        span {
            font-weight: 500;
        }

        p {
            font-size: 14px;
            font-weight: 300;
        }
    }
}





