* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
  
}

body {
  background-image: url("./sky.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
}

.container {
  width: 70vw;
  height: 90vh;
  backdrop-filter: blur(19px) saturate(180%);
  color: white;
  display: flex;
  flex-direction: column;
  box-shadow: 0px 0px 20px black;
  border-radius: 8px;
  overflow: hidden;
}

.top-container {
  padding: 20px;
  display: flex;  
  background-color: rgb(134, 60, 177);
  .title {
    flex: 1;
  }

  button {
    padding: 10px 20px;
    background: transparent;
    color: rgb(255, 255, 255); 
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 15px;
    
    
    &.logout {
       padding: 10px;
       &:hover {
          color: #5183fe;
       }
       
    }
 }
    
}

.main-container {
  flex: 1;
  display: flex;
  flex-wrap: wrap; 
  background-color: rgb(30, 34, 43,0.9);
  
}
 


.loading {
  padding: 50px;
  font-size: 36px;
  border-radius: 10px;
  background-color: rgba(17, 25, 40, 0.9);
}